{{define "base.html"}}
<!DOCTYPE html>
<html>
    <head>
        <title>{{template "title" .}}</title>
        <meta charset="utf-8">
        <script type="text/javascript" src="/assets/plugin/jquery-3.3.1/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/assets/plugin/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/plugin/bootstrap-4.0.0/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
    </head>
    <body>
        {{template "body" .}}
    </body>
</html>
{{end}}