{{define "title"}}
    Calculate Weekend
{{end}}
{{define "body"}}
    <div class="container mt-4 mb-2">
        <h2>What weekday is today?</h2>
        <div class="row">
            <div class="col-md-6 p-3">
                <form id="formCalculateWeekdayFromDate">
                    <div class="form-group">
                        <label for="selectDay">Day</label>
                        <select class="form-control" name="day" id="selectDay">
                            <option value="1">1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selectMonth">Month</label>
                        <select class="form-control" name="month" id="selectMonth">
                            {{range .months}}
                                <option value="{{.num}}" data-amountday={{.amountDay}}>{{.month}}</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selectYear">Year</label>
                        <select class="form-control" name="year" id="selectYear">
                            {{range .years}}
                                <option value="{{.}}">{{.}}</option>
                            {{end}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </form>
            </div>
            <div class="col-md-6 p-3 border-left" id="boxResultWeekday">
                <p id="calculateResult" style="font-size:26px;"><span style="color:#999;">Select date for calculate weekday.</span></p>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            // default current year select
            var currentYear = "{{.currentYear}}";
            $("#selectYear").val(currentYear);

            function setNumberDayOfMonth(monthSelected){
                var maxDay = monthSelected.data("amountday");
                daySelected = $("#selectDay").val();
                $("#selectDay").empty();

                // Check leap year
                if(monthSelected.text()=="February"){
                    if($("#selectYear").val()%4 == 0){
                        maxDay++;
                    }
                }
                for(var i=1;i<=maxDay;i++){
                    var optionSelectDay = "<option value='"+i+"'>"+i+"</option>";
                    $("#selectDay").append(optionSelectDay);
                }
                var defaultDay = daySelected;
                if(maxDay < daySelected){
                    defaultDay = maxDay;
                }
                $("#selectDay").val(defaultDay);
            }
            setNumberDayOfMonth($("#selectMonth").children("option:selected"));
            $("#selectMonth , #selectYear").change(function(){
                setNumberDayOfMonth($("#selectMonth").children("option:selected"));
            });

            $("#formCalculateWeekdayFromDate").submit(function(e){
                e.preventDefault();
                var formData = new FormData($(this)[0]);
                $.ajax({
                    url: "calWeekday",
                    data: formData,
                    method: "POST",
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    success: function(res){
                        console.log("Calculate success")
                        $("#calculateResult").html(
                            formData.get("day")
                            +" "+$("#selectMonth option[value='"+formData.get("month")+"']").text()
                            +" "+formData.get("year")
                            +" is <b>"+res.message+"</b>"
                        );
                    },
                    error: function(res){
                        console.log("Calculate failed")
                        $("#calculateResult").html("<span style='color:red'>Calculate failed</span>");
                    }
                });
            });
        });
    </script>
{{end}}